# Tuple

In [1]:
##Python is similar to list

# create

In [2]:
T={}
T

{}

In [5]:
T1={1,2,4,4,5}
T1

{1, 2, 4, 5}

In [4]:
T1={1,3,"Hello",3.5,14}
T1

{1, 14, 3, 3.5, 'Hello'}

In [8]:
T1={1,3,"Hello",(35),(14)}
T1

{1, 14, 3, 35, 'Hello'}

In [9]:
T1=(1)
T1

1

In [10]:
type(T1)

int

In [11]:
T1={1,3,"Hello",(35),(14)}
type(T1)

set

In [13]:
T1={"Hello",}
type[T1]

type[{'Hello'}]

# access

In [21]:
T1=[1,2,4,4,5]
T1[0]

1

In [22]:
T1[:4]

[1, 2, 4, 4]

In [23]:
T1[-2]

4

# edit

In [28]:
T1={1,2,4,4,5}
T1[0]=100
T1

TypeError: 'set' object does not support item assignment

In [29]:
T1[3]=100
T1

TypeError: 'set' object does not support item assignment

# tuple are just like immutable

# you cant edit the tuple

In [30]:
#add? no

In [31]:
#delete? no

In [32]:
T1={1,2,4,4,5}
min(T1)

1

In [34]:
max(T1)

5

In [35]:
sum(T1)

12

In [36]:
sorted(T1)

[1, 2, 4, 5]

In [39]:
sorted(T1,reverse=True)

[5, 4, 2, 1]

# tuples are read only data type